
body {
    font-family: Arial, sans-serif;
    margin: 4rem;


}

h1 {
    font-family: 'Times New Roman', serif;
    font-weight: 900; /* Bold */
    font-size: 2.5rem;
}
h2{
    font-family: 'Times New Roman', serif;
    font-weight: 500; /* Bold */
    font-size: 1.5rem;
}

h3 {
    font-family: 'Courier New', monospace;
    font-weight: 900; /* Medium weight */
}

p {
    font-family: Arial, sans-serif;
    font-weight: 400; /* Regular */
    line-height: 1rem;
}

.warning {
    font-weight: 300; /* Light */
    color: red;
    font-style: italic;
}
.code{
    background-color: #faf3dd;
    border-radius: 3rem;
    font-family: 'Courier New', monospace;
    font-size: 1.1rem;
    width: 50%;
    padding: 2rem;
    line-height: 3rem;
}

/* Add additional styles as needed */
.summary{
    line-height: 2rem;
}
.explanation{
    line-height: 2rem;
}