/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    background-color: #fefae0;
    font-family: 'inter';
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #283618;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #dda15e;

}

header .intro-text {
    font-size: 1.2rem;
    color: #fefae0;
    padding: 1rem;

}

/* Main Content Styles */
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Article Content Styles */
.article-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Paragraph Styling */
.content-paragraph {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #555;
    line-height: 1.8;
}
.content-paragraph{
    font-size: 1.4rem;
}

/* Image Styling */
.article-image {
    width: 100%;
    margin: 20px 0;
    border-radius: 8px;
}

/* Section and Heading Styles */
h2, h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #283618;
}

h2 {
    margin-top: 40px;
    font-weight: 600;
}

h3 {
    font-weight: 500;
    color: #283618;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #283618;
    margin-top: 40px;
    border-top: 1px solid #ccc;
}

footer p {
    font-size: 1rem;
    color: #dda15e;
}
